openapi: 3.0.3
info:
  title: Algorithmic Trading System API
  description: |
    Enterprise-grade algorithmic trading platform API providing comprehensive trading, portfolio management, 
    risk management, and market data services. Built with microservices architecture and event-driven design.
    
    ## Key Features
    - **Multi-Asset Trading**: Stocks, ETFs, Options, Futures, Forex, Crypto
    - **Real-time Market Data**: Live feeds with fallback mechanisms
    - **Advanced Risk Management**: Real-time monitoring, VaR, stress testing
    - **AI-Powered Analytics**: Strategy development and optimization
    - **High-Performance Execution**: Microsecond-level latency
    
    ## Authentication
    All API endpoints require authentication via JWT tokens or API keys.
    
    ## Rate Limiting
    - Standard endpoints: 1000 requests/minute
    - Market data endpoints: 10000 requests/minute
    - Trading endpoints: 500 requests/minute
    
    ## Error Handling
    The API uses standard HTTP status codes and returns detailed error information in JSON format.
  version: 1.0.0
  contact:
    name: Trading System API Support
    email: api-support@trading-system.com
    url: https://docs.trading-system.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.trading-system.com/v1
    description: Production server
  - url: https://staging-api.trading-system.com/v1
    description: Staging server
  - url: http://localhost:8000/v1
    description: Development server

security:
  - BearerAuth: []
  - ApiKeyAuth: []

paths:
  # Health and Status
  /health:
    get:
      tags: [System]
      summary: Health check endpoint
      description: Returns the health status of the trading system
      operationId: getHealth
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: System is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /status:
    get:
      tags: [System]
      summary: System status
      description: Returns detailed system status including services and metrics
      operationId: getStatus
      responses:
        '200':
          description: System status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStatus'

  # Authentication
  /auth/login:
    post:
      tags: [Authentication]
      summary: User login
      description: Authenticate user and return JWT token
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh JWT token
      description: Refresh an expired JWT token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  # Market Data
  /market-data/quotes/{symbol}:
    get:
      tags: [Market Data]
      summary: Get real-time quote
      description: Retrieve real-time quote for a specific symbol
      operationId: getQuote
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
            example: "AAPL"
          description: Trading symbol
      responses:
        '200':
          description: Quote retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '404':
          description: Symbol not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /market-data/historical/{symbol}:
    get:
      tags: [Market Data]
      summary: Get historical data
      description: Retrieve historical price data for a symbol
      operationId: getHistoricalData
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
        - name: start_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: interval
          in: query
          schema:
            type: string
            enum: [1m, 5m, 15m, 30m, 1h, 4h, 1d]
            default: 1d
      responses:
        '200':
          description: Historical data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalData'

  # Trading
  /orders:
    get:
      tags: [Trading]
      summary: Get orders
      description: Retrieve user's orders with optional filtering
      operationId: getOrders
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, filled, cancelled, rejected]
        - name: symbol
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'

    post:
      tags: [Trading]
      summary: Place order
      description: Place a new trading order
      operationId: placeOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRequest'
      responses:
        '201':
          description: Order placed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Invalid order parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /orders/{order_id}:
    get:
      tags: [Trading]
      summary: Get order details
      description: Retrieve details of a specific order
      operationId: getOrder
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags: [Trading]
      summary: Cancel order
      description: Cancel a pending order
      operationId: cancelOrder
      parameters:
        - name: order_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Order cannot be cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Portfolio
  /portfolio:
    get:
      tags: [Portfolio]
      summary: Get portfolio summary
      description: Retrieve portfolio summary including positions and performance
      operationId: getPortfolio
      responses:
        '200':
          description: Portfolio retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Portfolio'

  /portfolio/positions:
    get:
      tags: [Portfolio]
      summary: Get positions
      description: Retrieve all current positions
      operationId: getPositions
      responses:
        '200':
          description: Positions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Position'

  /portfolio/performance:
    get:
      tags: [Portfolio]
      summary: Get performance metrics
      description: Retrieve portfolio performance metrics
      operationId: getPerformance
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [1d, 1w, 1m, 3m, 6m, 1y, ytd, all]
            default: 1m
      responses:
        '200':
          description: Performance metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceMetrics'

  # Risk Management
  /risk/metrics:
    get:
      tags: [Risk Management]
      summary: Get risk metrics
      description: Retrieve current risk metrics for the portfolio
      operationId: getRiskMetrics
      responses:
        '200':
          description: Risk metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskMetrics'

  /risk/var:
    get:
      tags: [Risk Management]
      summary: Get Value at Risk
      description: Calculate and retrieve Value at Risk metrics
      operationId: getVaR
      parameters:
        - name: confidence_level
          in: query
          schema:
            type: number
            minimum: 0.9
            maximum: 0.99
            default: 0.95
        - name: time_horizon
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 30
            default: 1
      responses:
        '200':
          description: VaR calculated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaRMetrics'

  # Strategies
  /strategies:
    get:
      tags: [Strategies]
      summary: Get trading strategies
      description: Retrieve list of available trading strategies
      operationId: getStrategies
      responses:
        '200':
          description: Strategies retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Strategy'

    post:
      tags: [Strategies]
      summary: Create strategy
      description: Create a new trading strategy
      operationId: createStrategy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StrategyRequest'
      responses:
        '201':
          description: Strategy created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Strategy'

  /strategies/{strategy_id}/backtest:
    post:
      tags: [Strategies]
      summary: Run backtest
      description: Execute a backtest for a specific strategy
      operationId: runBacktest
      parameters:
        - name: strategy_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BacktestRequest'
      responses:
        '202':
          description: Backtest started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestJob'

  /backtests/{job_id}:
    get:
      tags: [Strategies]
      summary: Get backtest results
      description: Retrieve results of a backtest job
      operationId: getBacktestResults
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Backtest results retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BacktestResults'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    # System Schemas
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
        timestamp:
          type: string
          format: date-time
        services:
          type: object
          additionalProperties:
            type: string
            enum: [up, down, degraded]

    SystemStatus:
      type: object
      properties:
        version:
          type: string
        uptime:
          type: integer
        services:
          type: array
          items:
            $ref: '#/components/schemas/ServiceStatus'
        metrics:
          $ref: '#/components/schemas/SystemMetrics'

    ServiceStatus:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [up, down, degraded]
        last_check:
          type: string
          format: date-time
        response_time:
          type: number

    SystemMetrics:
      type: object
      properties:
        cpu_usage:
          type: number
        memory_usage:
          type: number
        disk_usage:
          type: number
        active_connections:
          type: integer
        requests_per_second:
          type: number

    # Authentication Schemas
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username:
          type: string
        password:
          type: string
          format: password

    RefreshTokenRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          default: bearer
        expires_in:
          type: integer
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [admin, trader, analyst, viewer]
        created_at:
          type: string
          format: date-time

    # Market Data Schemas
    Quote:
      type: object
      properties:
        symbol:
          type: string
        bid:
          type: number
        ask:
          type: number
        last:
          type: number
        volume:
          type: integer
        timestamp:
          type: string
          format: date-time
        market_status:
          type: string
          enum: [open, closed, pre_market, after_hours]

    HistoricalData:
      type: object
      properties:
        symbol:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/OHLCV'
        metadata:
          type: object
          properties:
            interval:
              type: string
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date

    OHLCV:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        open:
          type: number
        high:
          type: number
        low:
          type: number
        close:
          type: number
        volume:
          type: integer

    # Trading Schemas
    OrderRequest:
      type: object
      required: [symbol, side, quantity, order_type]
      properties:
        symbol:
          type: string
        side:
          type: string
          enum: [buy, sell]
        quantity:
          type: number
          minimum: 0
        order_type:
          type: string
          enum: [market, limit, stop, stop_limit]
        price:
          type: number
          minimum: 0
        stop_price:
          type: number
          minimum: 0
        time_in_force:
          type: string
          enum: [day, gtc, ioc, fok]
          default: day
        client_order_id:
          type: string

    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        client_order_id:
          type: string
        symbol:
          type: string
        side:
          type: string
          enum: [buy, sell]
        quantity:
          type: number
        filled_quantity:
          type: number
        remaining_quantity:
          type: number
        order_type:
          type: string
          enum: [market, limit, stop, stop_limit]
        price:
          type: number
        stop_price:
          type: number
        status:
          type: string
          enum: [pending, filled, partially_filled, cancelled, rejected]
        time_in_force:
          type: string
          enum: [day, gtc, ioc, fok]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        fills:
          type: array
          items:
            $ref: '#/components/schemas/Fill'

    Fill:
      type: object
      properties:
        id:
          type: string
          format: uuid
        quantity:
          type: number
        price:
          type: number
        timestamp:
          type: string
          format: date-time
        commission:
          type: number

    # Portfolio Schemas
    Portfolio:
      type: object
      properties:
        total_value:
          type: number
        cash:
          type: number
        positions_value:
          type: number
        day_pnl:
          type: number
        total_pnl:
          type: number
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'
        performance:
          $ref: '#/components/schemas/PerformanceMetrics'

    Position:
      type: object
      properties:
        symbol:
          type: string
        quantity:
          type: number
        average_price:
          type: number
        market_price:
          type: number
        market_value:
          type: number
        unrealized_pnl:
          type: number
        realized_pnl:
          type: number
        day_pnl:
          type: number

    PerformanceMetrics:
      type: object
      properties:
        total_return:
          type: number
        annualized_return:
          type: number
        volatility:
          type: number
        sharpe_ratio:
          type: number
        max_drawdown:
          type: number
        win_rate:
          type: number
        profit_factor:
          type: number

    # Risk Management Schemas
    RiskMetrics:
      type: object
      properties:
        portfolio_beta:
          type: number
        concentration_risk:
          type: number
        leverage:
          type: number
        margin_used:
          type: number
        margin_available:
          type: number
        risk_score:
          type: number
          minimum: 0
          maximum: 100

    VaRMetrics:
      type: object
      properties:
        value_at_risk:
          type: number
        expected_shortfall:
          type: number
        confidence_level:
          type: number
        time_horizon:
          type: integer
        calculation_method:
          type: string
          enum: [historical, parametric, monte_carlo]

    # Strategy Schemas
    Strategy:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, inactive, backtesting]
        parameters:
          type: object
        performance:
          $ref: '#/components/schemas/PerformanceMetrics'
        created_at:
          type: string
          format: date-time

    StrategyRequest:
      type: object
      required: [name, code]
      properties:
        name:
          type: string
        description:
          type: string
        code:
          type: string
        parameters:
          type: object

    BacktestRequest:
      type: object
      required: [start_date, end_date]
      properties:
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        initial_capital:
          type: number
          default: 100000
        benchmark:
          type: string
          default: SPY

    BacktestJob:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [queued, running, completed, failed]
        created_at:
          type: string
          format: date-time
        estimated_completion:
          type: string
          format: date-time

    BacktestResults:
      type: object
      properties:
        job_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [completed, failed]
        performance:
          $ref: '#/components/schemas/PerformanceMetrics'
        trades:
          type: array
          items:
            $ref: '#/components/schemas/Trade'
        equity_curve:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              value:
                type: number

    Trade:
      type: object
      properties:
        symbol:
          type: string
        side:
          type: string
          enum: [buy, sell]
        quantity:
          type: number
        price:
          type: number
        timestamp:
          type: string
          format: date-time
        pnl:
          type: number

    # Error Schema
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: integer
        timestamp:
          type: string
          format: date-time
        request_id:
          type: string
          format: uuid

tags:
  - name: System
    description: System health and status endpoints
  - name: Authentication
    description: User authentication and authorization
  - name: Market Data
    description: Real-time and historical market data
  - name: Trading
    description: Order management and execution
  - name: Portfolio
    description: Portfolio management and analytics
  - name: Risk Management
    description: Risk monitoring and metrics
  - name: Strategies
    description: Trading strategy development and backtesting